<!doctype html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>gunslingr</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="bower_components/bootstrap-sass/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/bootstrap-social/bootstrap-social.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/videojs/video-js.min.css">
    <link rel="stylesheet" href="styles/main.css">

    <script src="bower_components/lodash/dist/lodash.js"></script>
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>

    <!-- todo figure out why angular-ui-router (from bower) has nothing in the release folder and no way to build it -->
    <!--<script src="bower_components/angular-ui-router/"></script>-->
    <script src="vendor/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-file-upload/angular-file-upload.js"></script>
    <script src="bower_components/bootstrap-sass/dist/js/bootstrap.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/angularfire.js"></script>
    <script src="bower_components/firebase-simple-login/firebase-simple-login.js"></script>
    <script src="vendor/videojs/video.js"></script>
  </head>
  <body ng-app="gunslingr">
    <div class="container">
      <ul class="nav nav-pills" ng-controller="navigationCtrl">
        <li class="home"><a href="#">Home</a></li>

        <ul id="login">
          <li class="btn-lg btn-social-icon btn-github" ng-click="login('github')"><i class="fa fa-github"></i></li>
          <li class="btn-lg btn-social-icon btn-facebook" ng-click="login('facebook')"><i class="fa fa-facebook"></i></li>
          <li class="btn-lg btn-social-icon btn-twitter" ng-click="login('twitter')"><i class="fa fa-twitter-square"></i></li>
        </ul>

        <div class="account" ng-if="user">
          <h1>Hey there, {{user.displayName}}</h1>
          <a ng-click="logout()" class="logout">logout</a>
        </div>
      </ul>

      <div ui-view></div>
    </div>

    <!-- app -->
    <script src="scripts/app.js"></script>
    <script src="scripts/config/config.js"></script>

    <!-- controllers -->
    <script src="scripts/controllers/home.js"></script>
    <script src="scripts/controllers/navigation.js"></script>

    <!-- directives -->
    <script src="scripts/directives/contenteditable.js"></script>

    <!-- services -->
    <script src="scripts/services/firebase.js"></script>
    <script src="scripts/services/zencoder.js"></script>
</body>
</html>