<!doctype html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gunslinger</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="bower_components/bootstrap-sass/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/bootstrap-additions.min.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/videojs/video-js.min.css">
    <link rel="stylesheet" href="styles/main.css">

    <script src="bower_components/lodash/dist/lodash.min.js"></script>
    <script src="bower_components/jquery/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>

    <script src="vendor/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-file-upload/angular-file-upload.min.js"></script>
    <script src="bower_components/bootstrap-sass/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.min.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/angularfire.min.js"></script>
    <script src="bower_components/firebase-simple-login/firebase-simple-login.js"></script>
    <script src="vendor/videojs/video.js"></script>
  </head>
  <body ng-app="gunslingr">
    <div class="container">

      <div id="navigation" ng-controller="navigationCtrl">
        <ul class="nav nav-pills">
          <li class="home"><a href="#">Home</a></li>
          <li class="login" ng-if="!user" data-template="views/aside-login.html" data-placement="right" data-animation="am-slide-left" bs-aside="aside" data-container="body"><a>Login</a></li>
          <li class="login" ng-if="user"><a ng-click="logout()">Logout</a></li>
        </ul>

        <div class="account" ng-if="user">
          <h1>Hey there, {{user.displayName}}</h1>
          <a ng-click="logout()" class="logout">logout</a>
        </div>

      </div>
        <button class="login" data-template="views/aside-login.html" data-placement="right" data-animation="am-slide-right" bs-aside="aside" data-container="body">Login</button>

        <!--<li class="login-button" ng-click="login('github')">-->
          <!--<i class="fa fa-github-square"></i>Sign in with Github-->
        <!--</li>-->
        <!--<li class="login-button" ng-click="login('facebook')">-->
          <!--<i class="fa fa-facebook-square"></i>Sign in with Facebook-->
        <!--</li>-->
        <!--<li class="login-button" ng-click="login('twitter')">-->
          <!--<i class="fa fa-twitter-square"></i>Sign in with Twitter-->
        <!--</li>-->

      <div ui-view></div>
    </div>

    <!-- app -->
    <script src="scripts/app.js"></script>
    <script src="scripts/config/config.js"></script>

    <!-- controllers -->
    <script src="scripts/controllers/home.js"></script>
    <script src="scripts/controllers/navigation.js"></script>

    <!-- directives -->
    <script src="scripts/directives/contenteditable.js"></script>

    <!-- services -->
    <script src="scripts/services/firebase.js"></script>
    <script src="scripts/services/zencoder.js"></script>
</body>
</html>