///////////////////////////////////////////////////////////////////////////////////////////////////
// Colors
///////////////////////////////////////////////////////////////////////////////////////////////////

// All color swatches used in CSUI. Each color has a "color" variable `$fs-blue`
// and it is assigned to another variable that gives it more context `$fs-primary-color`.
// Please always use a variable when using any color from the color swatches.
//
// Styleguide 1.0 - Color Swatches.

// Base colors
/////////////////////////////////////////////////

$fs-blue:                          #4c98dc;
$fs-dark-blue:                     #245886;
$fs-lime-green:                    #9ad154;
$fs-orange:                        #f5aa37;
$fs-red:                           #ec5353;

// Greyscale
/////////////////////////////////////////////////

$fs-grey-0:                        #020408;
$fs-grey-1:                        #1c242e;
$fs-grey-2:                        #323e4d;
$fs-grey-3:                        #465261;
$fs-grey-4:                        #566270;
$fs-grey-5:                        #6d7885;
$fs-grey-6:                        #828d99;
$fs-grey-7:                        #99a3ad;
$fs-grey-8:                        #b0b9c2;
$fs-grey-9:                        #c7ced6;
$fs-light-grey-1:                  #e1e6eb;
$fs-light-grey-2:                  #f5f7fa;

// Primary Color (Blue)
/////////////////////////////////////////////////

$fs-primary-color:                 $fs-blue;
$fs-primary-color-light-1:         mix($fs-primary-color, #fff, 70%);
$fs-primary-color-light-2:         mix($fs-primary-color, #fff, 30%);

// Secondary Color (Lime Green)
/////////////////////////////////////////////////

$fs-secondary-color:               $fs-lime-green;
$fs-secondary-color-light-1:       mix($fs-secondary-color, #fff, 70%);
$fs-secondary-color-light-2:       mix($fs-secondary-color, #fff, 30%);

// Alt1 Color (Dark Blue)
/////////////////////////////////////////////////

$fs-alt1-color:                    $fs-dark-blue;
$fs-alt1-color-light-1:            mix($fs-alt1-color, #fff, 70%);
$fs-alt1-color-light-2:            mix($fs-alt1-color, #fff, 30%);

// Alt2 Color (Orange)
/////////////////////////////////////////////////

$fs-alt2-color:                    $fs-orange;
$fs-alt2-color-light-1:            mix($fs-alt2-color, #fff, 70%);
$fs-alt2-color-light-2:            mix($fs-alt2-color, #fff, 30%);

// Alt3 Color (Red)
/////////////////////////////////////////////////

$fs-alt3-color:                    $fs-red;
$fs-alt3-color-light-1:            mix($fs-alt3-color, #fff, 70%);
$fs-alt3-color-light-2:            mix($fs-alt3-color, #fff, 30%);