$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";
$thumbnailWidth: 150px;
$thumbnailHeight: ($thumbnailWidth * 720)/1280;

@import "../bower_components/bootstrap-sass/lib/bootstrap";
@import "colors";

[contenteditable="true"].single-line {
  white-space: nowrap;
  width:200px;
  overflow: hidden;
}
[contenteditable="true"].single-line br {
  display:none;

}
[contenteditable="true"].single-line * {
  display:inline;
  white-space:nowrap;
}

#navigation {
  position: relative;

  .nav {
    font-size: 100%;
  }

  .account {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 100%;
  }
}

.account-aside {
  .logout {
    text-align: right;
    display: block;
    font-size: 100%;
  }

  .login-services {
    text-align: right;
    font-size: 100%;
    list-style: none;
    padding: 0;

    .login-button {
      cursor: pointer;
      color: $fs-alt1-color;
      font-size: 150%;
      display: inline;

      i {
        font-size: 250%;
        margin-right: 1%;
      }
    }
  }

  .account-details {
    .provider { display: inline; }
    .external { text-align: right; }
  }
}