$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";
$thumbnailWidth: 150px;
$thumbnailHeight: ($thumbnailWidth * 720)/1280;

@import "../bower_components/bootstrap-sass/lib/bootstrap";
@import "colors";

body {
  background-color: white;
}

[contenteditable="true"].single-line {
  white-space: nowrap;
  width:200px;
  overflow: hidden;
}
[contenteditable="true"].single-line br {
  display:none;

}
[contenteditable="true"].single-line * {
  display:inline;
  white-space:nowrap;
}

#login {
  list-style: none;

  .login-button {
    display: inline;
    padding: 10px;

    i {
      font-size: 60px;
    }
  }
}