$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";
$thumbnailWidth: 150px;
$thumbnailHeight: ($thumbnailWidth * 720)/1280;

@import "../bower_components/bootstrap-sass/lib/bootstrap";
@import "colors";

body {
  background-color: white;
}

[contenteditable="true"].single-line {
  white-space: nowrap;
  width:200px;
  overflow: hidden;
}
[contenteditable="true"].single-line br {
  display:none;

}
[contenteditable="true"].single-line * {
  display:inline;
  white-space:nowrap;
}

.container {
  color: $fs-grey-2;

  tbody {
    color: $fs-grey-2;
    background-color: #f4f4f4;
  }
}

.page-title {
  text-transform: uppercase;
  color: $fs-primary-color;
  text-align: center;
}

.nav {
  margin: 20px 0;
}

.uploader {
  width: 1410px;

  .upload-feedback {
    position: relative;
    top: 518px;
    left: 435px;
    width: 400px;

    .progress {
      height: 43px;
      background-color: $fs-grey-7;

      .progress-bar-info {
        background-color: $fs-primary-color;
      }
    }

    h2 {
      position: absolute;
      top: -16px;
      left: 72px;
      color: $fs-light-grey-2;

      img {
        position: relative;
        top: -3px;
      }
    }
  }
}

.uploads {
  tr:hover {
    color: $fs-primary-color;
  }

  th {
    text-align: center;
  }

  td {
    text-align: center;
  }

  .state {
    .spinner {
      visibility: hidden;
      margin-left: 3px;
      display: inline-block;
    }

    // colors for state changes
    &.pending {
      color: $fs-alt2-color;
    }

    &.encoding, &.processing, &.waiting {
      color: $fs-primary-color;

      .spinner {
        visibility: visible;
      }
    }

    &.finished {
      color: $fs-secondary-color;
    }

    &.failed {
      color: $fs-alt3-color;
    }
    // end colors
  }

  .approve {
    cursor: pointer;

    &:hover {
      .glyphicon {
        color: $fs-secondary-color;
      }
    }

    .glyphicon {
      color: $fs-grey-8;
    }
  }

  .deny {
    cursor: pointer;

    &:hover {
      .close {
        color: $fs-alt3-color;
      }
    }

    .close {
      opacity: 1;
      color: $fs-grey-8;
      float: none;
      display: inline;

      &:hover {
       color: $fs-alt3-color;
      }
    }
  }
}

player {
  text-align: center;
}

.playlist-builder {

}

.playlist-player {
  .playlist-thumbs {
    list-style: none;

    li {
      position: relative;
      display: inline-block;
      margin: 10px;
      cursor: pointer;

      &:hover {
        .glyphicon-play {
          visibility: visible;
        }
      }

      img {
        width: $thumbnailWidth;
        height: $thumbnailHeight;
      }

      .glyphicon-play {
        visibility: hidden;
        color: $fs-grey-0;
        position: absolute;
        top: 5px;
        left: 42px;
        font-size: 500%;
        opacity: .7;
      }
    }
  }
}