<div class="aside account-aside" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content" ng-controller="accountCtrl">
      <div class="aside-header" ng-show="title">
        <h4 class="aside-title">{{title}}</h4>
        <button type="button" class="close" ng-click="$hide()">&times;</button>
      </div>
      <div class="aside-body">

        <h2 class="logout" ng-if="auth.user" ng-click="auth.$logout()">logout</h2>

        <ul class="login-services">
          <li class="login-button" ng-click="login('github'); $hide();">
            <i class="fa fa-github-square"></i>
          </li>
          <li class="login-button" ng-click="login('facebook'); $hide();">
            <i class="fa fa-facebook-square"></i>
          </li>
          <li class="login-button" ng-click="login('twitter'); $hide();">
            <i class="fa fa-twitter-square"></i>
          </li>
        </ul>

        <h2>Add Provider Details</h2>
        <div class="account-details">
          <div class="github" ng-if="user.github">
            <h3 class="provider">
              Github
              <span class="buttons">
                <button class="btn btn-info"
                        ng-href="{{user.github.profileUrl}}"
                        data-trigger="hover"
                        data-type="info"
                        title="Visit Github Profile"
                        bs-tooltip>
                  <i class="fa fa-external-link"></i>
                </button>

                <button class="btn btn-danger"
                        ng-click="user.$remove('github')"
                        data-trigger="hover"
                        data-type="danger"
                        title="Delete Github Data"
                        bs-tooltip>
                  <i class="fa fa-eraser"></i>
                </button>
              </span>
            </h3>

            <dl class="provider-properties">
              <div class="entry"
                   ng-if="value"
                   ng-repeat="(key, value) in user.github | user: 'github'">
                <dt>{{key}}</dt>
                <dd>{{value}}</dd>
              </div>
            </dl>
          </div>

          <div class="facebook" ng-if="user.facebook">
            <h3 class="provider">
              Facebook

              <a class="btn btn-info"
                 ng-href="{{(user | user:facebook).profileUrl}}">
                <i class="fa fa-external-link"></i>
              </a>

              <button class="btn btn-danger"
                      ng-click="user.$remove('facebook')">
                <i class="fa fa-eraser"></i>
              </button>
            </h3>

            <dl class="provider-properties">
              <div class="entry"
                   ng-if="value"
                   ng-repeat="(key, value) in user.facebook | user: 'facebook'">

                <dt>{{key}}</dt>
                <dd>{{value}}</dd>
              </div>
            </dl>
        </div>

      </div>
      <div class="aside-footer"></div>
    </div>
  </div>
</div>