<div class="uploader">
  <div class="upload-dropper" ng-file-drop>
    <h2 ng-if="!uploader.isUploading" class="instructions">Drop File Here</h2>
    <div class="upload-feedback" ng-if="uploader.isUploading">
      <div class="progress">
        <div
            ng-style="{ width: uploader.progress + '%' };"
            style="width: 50%; !important"
            class="progress-bar progress-bar-info"
            role="progressbar"
            aria-valuenow="{{uploader.progress}}"
            aria-valuemin="0"
            aria-valuemax="100">

          <span class="sr-only">{{uploader.progress}}% Complete</span>
        </div> <!-- progress-bar -->
      </div> <!-- progress -->

      <h2 ng-show="uploader.isUploading && uploader.progress == 100">
        Uploading to S3 <img src="images/processing_s3_upload.gif" alt=""/>
      </h2>
    </div> <!-- upload feedback -->
  </div>
</div>