<div class="aside" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content" ng-controller="navigationCtrl">
      <div class="aside-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="aside-title" ng-bind-html="title"></h4>
      </div>
      <div class="aside-body">
        <h3>Login via...</h3>
        <ul class="login-services">
          <li class="login-button" ng-click="login('github'); $hide();">
            <i class="fa fa-github-square"></i>
          </li>
          <li class="login-button" ng-click="login('facebook'); $hide();">
            <i class="fa fa-facebook-square"></i>
          </li>
          <li class="login-button" ng-click="login('twitter'); $hide();">
            <i class="fa fa-twitter-square"></i>
          </li>
        </ul>

        <a ng-click="logout()">Logout</a>
        <div class="account-details">
          <img ng-src="{{user.pic}}" />
          <h2>{{user.displayName}}</h2>
        </div>

      </div>
      <div class="aside-footer">

      </div>
    </div>
  </div>
</div>