$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";
$thumbnailWidth: 150px;
$thumbnailHeight: ($thumbnailWidth * 720)/1280;

@import "../bower_components/bootstrap-sass/lib/bootstrap";
@import "colors";

[contenteditable="true"].single-line {
  white-space: nowrap;
  width:200px;
  overflow: hidden;
}
[contenteditable="true"].single-line br {
  display:none;

}
[contenteditable="true"].single-line * {
  display:inline;
  white-space:nowrap;
}

.alert.top-right {
  z-index: 1;
}

.radial {
  background-color: ##ff0000;
}

#navigation {
  position: relative;

  .account {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.account-aside {
  .logout {
    text-align: right;
    display: block;
    cursor: pointer;
    color: $fs-primary-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .login-services {
    text-align: right;
    list-style: none;
    padding: 0;

    .login-button {
      cursor: pointer;
      color: $fs-alt1-color;
      margin-bottom: 15px;

      button {
        width: 280px;
        text-align: left;

        .label {
          font-size: 20px;
          font-weight: normal;
          position: relative;
          top: -5px;
        }

        i.fa {
          font-size: 35px;
          margin-right: 0px;
        }
      }
    }
  }

  .account-details {
    text-align: left;

    dt {
      margin-top: 10px;
      text-transform: capitalize;
    }
  }
}